@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

/* background-color */

header, #success-screen, #main-screen, #adopt-info-block, footer {
    background-color: #F5F5F5;
}

#stats-block, #donation-block, #difference-block, #adopt-block, #adopt-screen {
    background-color: #1E1F27;
}

#subscription-block {
    background-color: #5758F1;
}

/* class */

.center-container {
    max-width: 1208px;
    width: 100%;
}

.padding-default {
    padding: 80px 0;
}

.padding-default-two {
    padding-top: 80px;
    padding-bottom: 120px;
}

.screen-default {
    padding-right: 152px;
    padding-left: 152px;
    max-width: 1512px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin: 0 auto;
    width: 100%;
}

.donate-container a img {
    height: 23.14px;
    width: 25.81px;
}

.donate-container>a {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #FF3D9A;
    border-radius: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    gap: 11.09px;
}

.card-donation {
    display: flex;
    flex-flow: column wrap;
    border: 2px solid #fff;
    border-radius: 24px;
    padding: 36px;
    color: #fff;
    font-size: 32px;
    max-width: 376px;
    gap: 16px;
}

.card-donation p {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    text-align: left;
}

.card-donation h5 {
    line-height: 51.2px;
    letter-spacing: -0.02em;
}

.card-donation div {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.card-donation div>div {
    display: inline;
    align-items: center;
}

.card-donation div>div>img {
    max-width: 100%;
    max-height: 100%;
    height: inherit;
    margin: 0 auto;
}

.card-difference {
    border-radius: 24px;
    border: 2px solid #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px 23px;
    width: 272px;
    max-height: 358px;
    justify-content: space-between;
}

.card-difference>div {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    column-gap: 16px;
}

.card-difference>div>h5 {
    margin: 0 0 16px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 32px;
    color: #fff;
}

.card-difference>div>p {
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
}

.card-difference>a {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: #1E1F27;
    border-radius: 16px;
    padding: 16px 24px;
    width: 224px;
    text-align: center;
}

.card-difference:nth-child(1) a {
    background-color: #04C27F;
}

.card-difference:nth-child(2) a {
    background-color: #F1D06E;
}

.card-difference:nth-child(3) a {
    background-color: #FF3D9A;
    color: #fff;
}

.card-difference:nth-child(4) a {
    background-color: #5758F1;
    color: #fff;
}

.item-contact {
    display: flex;
    align-items: flex-start;
    gap: 12px
}

.item-contact div {
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
}

.border {
    border: 2px solid #1E1F27;
}

.input-modal-text, .input-modal-birth {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    width: 100%;
}

.input-modal-text label,
.input-modal-birth label,
#payment-donate>label {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #FF3D9A;
    font-family: 'Poppins';
}

.input-modal-text label span,
.input-modal-birth label span,
#payment-donate>label span {
    color: #3F96FC;
}

.input-modal-text>input,
.input-modal-birth div>div {
    outline: none;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #3F96FC;
    color: #1E1F27;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    font-family: 'Poppins';
}

.input-modal-text>input:focus,
.input-modal-birth div:focus-within {
    border-color: #937AFF;
}

.input-modal-birth div>div>select {
    outline: none;
    border: none;
    color: #1E1F27;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: left;
    font-family: 'Poppins';
}

.input-modal-birth div>div {
    width: 100%;
}

.input-modal-text>input:placeholder {
    color: #37383F;
}

.input-modal-birth>div {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    width: 100%;
}

#terms, .custom-check {
    display: none;
}

.custom-radio {
    display: flex;
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    border-radius: 99px;
    align-items: center;
    transition: background-color 0.6s ease;
}

.button-adopt {
    padding: 16px 24px;
    border-radius: 8px;
    opacity: 0px;
    border: none;
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.02em;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    color: #F5F5F5;
}

.button-adopt:first-of-type {
    background-color: #04C27F;
}

.button-adopt:last-of-type {
    background-color: #37383F;
}

.type-payment {
    display: flex;
    flex-flow: row nowrap;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.payment-item {
    display: flex;
    gap: 8px;
    border: 1px solid #3F96FC;
    border-radius: 8px;
    padding: 16px;
    align-items: center;
}

.payment-label, #apply-adopt-modal-container>form>div:last-child>div>label {
    cursor: pointer;
}

.break-word {
    display: none;
}

.bt-default-donate-modal {
    padding: 16px 32px;
    display: flex;
    gap: 8px;
    border-radius: 32px;
    align-self: center;
    color: #fff;
    align-items: center;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    font-family: 'Poppins';
    border: none;
    font-size: 20px;
}

.adopt-item {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

.block-bk img{
    border-radius: 32px;
}

.radius-bk img {
    height: 250px;
    width: 250px;
    border-radius: 32px 250px 250px 250px;
}

.radius-bk-two img {
    height: 250px;
    width: 250px;
    border-radius: 250px 32px 250px 250px;
}

.radius-bk-three img {
    height: 250px;
    width: 250px;
    border-radius: 250px; 
}

.block-bk img {
    display: block;
}

.adopt-item>p {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.adopt-item>a {
    height: 64px;
    padding: 16px 32px;
    gap: 9.26px;
    border-radius: 32px;
    border: 2px;
    background-color: #FF3D9A;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adopt-item:nth-child(1)>div>img {
    background-color: #F1D06E;
}

.adopt-item:nth-child(2)>div>img {
    background-color: #04C27F;
}

.adopt-item:nth-child(3)>div>img {
    background-color: #F5F5F5;
}

.adopt-item:nth-child(4)>div>img {
    background-color: #5758F1;
}

.adopt-item:nth-child(5)>div>img {
    background-color: #937AFF;
}

.adopt-item:nth-child(6)>div>img {
    background-color: #41CC4F;
}

.adopt-item:nth-child(7)>div>img {
    background-color: #F8DB46;
}

.adopt-item:nth-child(8)>div>img {
    background-color: #FF3D9A;
}

.bt-back {
    padding: 16px 32px;
    gap: 19px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #37383F;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
}

.bt-back img {
    width: 12px;
    height: 22px;
}

.carousel .card {
    scroll-snap-align: start;
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4));
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.wrapper .carousel {
    grid: 16px;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.wrapper, #carousel-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dots {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.dots li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--transparent-min, #FFFFFF33);
}

.bt-carousel {
    min-width: 44px;
    height: 44px;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 21px;
    cursor: pointer;
}

.wrapper .bt-carousel img {
    height: 12px;
    width: 18px;
}

.adopt-item-carousel-one>div>img {
    background-color: #F1D06E;
}

.adopt-item-carousel-two>div>img {
    background-color: #04C27F;
}

.adopt-item-carousel-three>div>img {
    background-color: #F5F5F5;
}

.adopt-item-carousel-four>div>img {
    background-color: #5758F1;
}

.adopt-item-carousel-five>div>img {
    background-color: #FF3D9A;
}

.payment-item.checked {
    background-color: #3F96FC;
    color: #fff;
    transition: background-color 0.6s ease, background-image 0.6s ease;
}

.cat-adopt {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-top: 10px;
}

.cat-adopt.hidden-img img:first-child {
    margin-right: 45.8px;
    width: 111.6px;
    height: 66.5px;
}

.cat-adopt.hidden-img img:last-child{
    width: 309px;
    height: 312px;  
}

.dog-adopt {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

.dog-adopt.hidden-img img:first-child {
    margin-left: 49.8px;
    width: 122.93px;
    height: 80px;
}

.dog-adopt.hidden-img img:last-child{
    width: 313px;
    height: 309px;  
}

.hidden-img-mobile {
    display: none;
    position: absolute;
}

.dog-adopt.hidden-img-mobile img:first-child {
    width: 68.73px;
    height: 55.8px;
}

.cat-adopt.hidden-img-mobile, .dog-adopt.hidden-img-mobile {
    align-items: center;
}

.cat-adopt.hidden-img-mobile img:first-child {
    width: 63.23px;
    height: 47.19px;
}

.dog-adopt.hidden-img-mobile {
    right: 0px;
}

.cat-adopt.hidden-img-mobile {
    left: 0px;
}

.mobile_dog {
    display: none;
}

/* Header */

header .center-container {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    gap: 85px;
    border-bottom: 2px solid black;
}

header div .donate-container>a {
    padding: 16px 32px;
}

#container-logotype-header {
    display: flex;
    align-items: center;
}

#second-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

#principal-menu {
    display: flex;
    gap: 16px;
    align-items: center;
}

#items-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#items-menu a {
    color: #1E1F27;
}

#phone-container p {
    display: flex;
    gap: 12px;
    flex-wrap: nowrap;
    display: flex;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    align-items: center;
    color: #1E1F27;
}

/* Main Screen */

#main-screen .center-container {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
}

#main-screen .main-text { 
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
    justify-content: space-between;
    padding: 30.5px 0;
}

#main-screen .main-text>div:first-child {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

#main-screen .main-text h1 {
    font-family: "Poppins";
    font-size: 64px;
    font-weight: 700;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    text-align: left;
    color: #1E1F27;
}

#main-screen .main-text p {
    font-weight: 500;
    font-size: 24px;
    line-height: 38.4px;
    text-align: left;    
    color: var(--gray-dark, #37383F);
}

#main-screen .main-text h3 {
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--black, #1E1F27);  
}

#main-screen .main-text>div:last-child { 
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

#main-screen .main-text>div:last-child>div {
    display: flex;
    gap: 32px;
    align-items: center;
}

#main-screen .donate-container>a {
    padding: 16px 28px;
    height: 64px;
    width: 177px;
}

#apply-adopt>a {
    display: flex;
    align-items: center;
    color: #1E1F27;
    border: 2px solid #1E1F27;
    border-radius: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 16px 28px;
    height: 64px;
    width: 257px;
    line-height: 28px;
    text-align: left;
    gap: 9.26px;
}

#apply-adopt a img {
    height: 23.14px;
    width: 25.81px;
}

/* Stats Block */

#stats-block .center-container {
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    color: #fff;
    gap: 80px;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}

#stats-block .center-container h2 {
    font-weight: 700;
    font-size: 56px;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

#stats-block .center-container>div:first-child {
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
}

#stats {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-flow: row nowrap;
    gap: 40px;
}

.stats-text{
    display: flex;
    flex-flow: column nowrap;
}

#stats div{
    display: flex;
    flex-flow: column nowrap;
    gap: 16px;
    justify-content: center;
}

#stats div>h4{
    color: #F8DB46;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: -0.02em;
}

#stats div>p{
    align-self: center;
    font-size: 32px;
    line-height: 51.2px;
    letter-spacing: -0.02em;
}

#carousel-container {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#dot-checked {
    background-color: #fff;
}

#bt-right img {
    transform: scaleX(-1);
}  

/* Donations block */ 

#donation-block section.center-container {
    display: flex;
    flex-flow: column wrap;
    height: fit-content;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    gap: 80px;
}

#donation-block section.center-container>h2 {
    color: #fff;
    font-size: 56px;
    text-align: center;
    line-height: 67.2px;
    letter-spacing: -0.02em;
}

#cards-donation {
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    row-gap: 60px;
    justify-content: center;
}

/* Adopt info block */

#adopt-info-block section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;
}

#adopt-info-block section>h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #1E1F27;
}

#adopt-info-block section>div {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 40px;
}

#adopt-info-block section>div div:last-child {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: 32px;
}

#adopt-info-block section>div div:last-child nav{
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

#adopt-info-block section>div div:last-child nav>h4{
    font-size: 32px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    line-height: 51.2px;
    letter-spacing: -0.02em;
}

#adopt-info-block section>div div:last-child nav>ul>li{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: #37383F;
    font-size: 24px;
    line-height: 38.4px;
    list-style-position: outside;
}

#adopt-info-block section>div div:last-child nav>ul>li:not(:last-child) {
    margin-bottom: 15px;
}

#adopt-info-block section>div div:last-child a{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fff;
    padding: 16px 32px;
    background-color: #1E1F27;
    border-radius: 32px;
    align-self: flex-start;
}

#adopt-info-block section>div div:first-child img {
    height: inherit;
    display: block;
    margin: 0 auto;
}

/* Difference-block */

#difference-block section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    gap: 80px;
}

#difference-title {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}

#cards-difference {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

#difference-title h2 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -0.02em;
    line-height: 67.2px;
    color: #fff;
}

#difference-title div {
    display: flex;
    align-self: center;
}

#difference-title div:last-child>img {
    transform: scaleX(-1);
}

/* Adopt block */

#adopt-block .padding-default-two {
    padding-bottom: 0px;
}

#adopt-block section {
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

#adopt-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#adopt-text h2 {
    color: #fff;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 56px;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    margin-bottom: 60px;
}

#adopt-text h2>span {
    color: #F8DB46;
}

#adopt-text>div {
    display: flex;
    flex-flow: row nowrap;
    gap: 40px;
    align-items: center;
}

.adopt-subtext {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 40px;
}

#adopt-text div>h3 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 51.2px;
    color: #fff;
    text-align: center;
}

#adopt-links { 
    display: flex;
    gap: 24px;
    text-align: center;
}

#adopt-links a {
    padding: 16px 32px;
    border-radius: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    overflow-wrap: break-word;
}

#adopt-links a:first-child {
    background-color: #F8DB46;
    border-radius: 32px;
    color: #1E1F27;
    font-size: 20px;
    line-height: 28px;
}

#adopt-links a:last-child {
    border: 2px solid #fff;
    border-radius: 32px;
    color: #fff;
}

/* Subscription block */

#subscription-block section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;
    gap: 60px;
}

#subscription-block div>h2 {
    margin-bottom: 12px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 56px;
    letter-spacing: -0.02em;
    line-height: 67.2px;
    color: #fff;
}

#subscription-block div>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
}

#subscription-block div>p {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
}

#subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
}

#subscribe-form input {
    outline: none;
    border-radius: 32px;
    border: 2px solid #fff;
    padding: 16px 136px 16px 24px;
    background-color: #5758F1;
    line-height: 32px;
    font-size: 20px;
    width: 100%;
}

#subscribe-form input::placeholder {
    font-family: 'Poppins';
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

#subscribe-form button {
    background-color: #fff;
    border: none;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 32px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 32px;
    color: #1E1F27;
}

/* Footer */

footer nav.center-container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    height: fit-content;
}

#footer-links-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
 }

#footer-links {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

#footer-links ul {
    width: 272px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#footer-links ul>li {
    line-height: 32px;
    text-align: left;
}

#footer-links ul>li>a {
    color: var(--black, #1E1F27);
}

#footer-logo {
    display: flex;
    flex-flow: column nowrap;
    gap: 19px;
    font-family: 'Poppins';
    font-weight: 700;
    text-align: left;
    width: 272px;
}

#footer-logo div {
    height: 100px;
    width: 100px;
}

#footer-logo div>img {
    width: 100%;
    height: 100%;
    height: inherit;
    display: block;
    margin: 0 auto;
}

#footer-logo p:first-of-type {
    font-size: 36px;
    line-height: 36px;
}

#footer-logo p:first-of-type img {
    height: 29.04;
    width: 26.03;
    margin: auto 0;
}

#footer-logo p:last-of-type {
    font-size: 20px;
    line-height: 32px;
}

#footer-contact {
    display: flex;
    flex-flow: column nowrap;
    width: 272px;
    gap: 24px;
}

#items-contact {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

#footer-contact>div:last-child {
    display: flex;
    align-items: center;
    gap: 20px;
}

footer nav>p {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 32px;
    line-height: 51.2px;
    letter-spacing: -0.02em;
    text-align: center;
}

footer nav>p>span {
    color: #FF3D9A;
}

/* Modal Apply to adopt */ 

#apply-adopt-modal {
    margin: auto auto;
    border: none;
    border-radius: 32px;
}

#apply-adopt-modal-container {
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
    font-family: 'Poppins';
}

#apply-adopt-modal-container>div:first-child {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 4px;
}

#apply-adopt-modal-container>div:first-child>h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    text-align: center;
}

#apply-adopt-modal-container>div:first-child>p {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.02em;
    text-align: center;
}

#apply-adopt-modal-container>form {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

#apply-adopt-modal-container>form>div:last-child {
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

#apply-adopt-modal-container>form>div:last-child>div {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #1E1F27;
}

#apply-adopt-modal-container>form>div:last-child>div>label>a {
    color: #FF3D9A;
}

#apply-adopt-modal .custom-radio, #donate-modal .custom-radio {
    background-color: #37383F;
}

#terms:checked + .custom-radio {
    background-color: #04C27F;
    background-image: url('/img/Checked.svg');
    transition: background-image 0.6s ease;
    background-size: 11.73px 8.94px;
    background-repeat: no-repeat;
    background-position: center;
}

/* Modal Donate */

#donate-modal {
    margin: auto auto;
    border: none;
    border-radius: 32px;
}

#donate-modal #donate-container-modal {
    padding: 32px;
    display: flex;
    flex-flow: column nowrap;
    gap: 48px;
    font-family: 'Poppins';
    align-items: center;
}

#donate-modal #donate-container-modal>h1 {
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -0.02em;
    color: #1E1F27;
}

#donate-modal #donate-container-modal>form {
    display: flex;
    flex-flow: column wrap;
    gap: 24px;    
    width: 100%;
}

#money {
    text-align: right;
}

#payment-donate {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    width: 100%;
}

#donate-modal .custom-check:checked + .custom-radio {
    background-color: #FF3D9A;
    background-image: url('/img/Checked.svg');
    background-size: 11.73px 8.94px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 0.6s ease, background-image 0.6s ease;
}

#donate-modal #donate-container-modal>form>button:first-of-type {
    background-color: #FF3D9A;
}

#donate-modal #donate-container-modal>form>button:last-of-type {
    background-color: #37383F;
}

/* Success screen */

#success-screen {
    height: 100vh;
}

#success-screen>div {
    margin: 0 auto;
    padding: 80px 120px;
    max-width: 1512px; 
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    gap: 40px;
}

#success-screen .success-layout {
    align-self: center;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 24px;
}

#success-screen .success-layout>div:first-child {
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
    text-align: center;
}

#success-screen .success-layout>div:last-child {
    display: flex;
    background-color: #F5F5F5;
    animation: backgroundTransition 3s ease forwards;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
}

@keyframes backgroundTransition {
    to {
        background-color: #FF3D9A;
    }
}

#success-screen .success-layout>div:last-child>img {    
    height: 50%;
    width: 50%;
}

#success-screen h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 64px;
    line-height: 76.8px;
    letter-spacing: -0.02em;
    color: #1E1F27;
}

#success-screen p {
    font-size: 24px;
    font-weight: 500;
    line-height: 38.4px;
    font-family: "Inter";
    font-weight: 500;
    color: #37383F;
}

/* Adoptables */

#adopt-screen section {
    display: flex;
    height: fit-content;
    flex-flow: column nowrap;
    gap: 80px;
    align-items: center;
}

#adopt-screen section>h2 {
    font-family: "Poppins";
    font-size: 56px;
    font-weight: 700;
    line-height: 67.2px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

header div nav.borderNone {
    border: none;
}

#adopt-container {
    display: flex;
    flex-flow: row wrap;
    gap: 60px;
    justify-content: center;
}

/* Media queries */

@media screen and (max-width: 1425px) {
    .wrapper .carousel {
        grid-auto-columns: calc(100% / 3);
    }
    #main-screen .screen-default {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #main-screen .main-text {
        align-items: center;
    }
    .main-img {
        display: none;
    }
    .mobile_dog {
        display: block;
    }
    #main-screen .main-text>div:last-child>div {
        display: flex;
        flex-flow: column wrap;
        gap: 16px;
    }
    #main-screen .main-text h3 {
        text-align: center;  
    }
    #adopt-links { 
        display: flex;
        flex-flow: column nowrap;
        gap: 24px;
    }
    #adopt-text h2 {
        font-size: 48px;
    }
    .hidden-img {
        display: none;
    }
    .hidden-img-mobile {
        display: flex;
    }
    .cat-adopt {
        margin-top: 0px;
    }
    .adopt-subtext {
        padding-bottom: 120px;
    }
    .hidden-img-mobile {
        margin-top: 85px;
    }
}

@media screen and (max-width: 1140px) {
    .wrapper .carousel {
        grid-auto-columns: calc(100% / 2);
    }
    .screen-default {
        padding-left: 16px;
        padding-right: 16px;
    }
    header .center-container {
        flex-direction: column;
        gap: 12px;
    }
    header #principal-menu {
        flex-flow: column nowrap;
    }
    header #items-menu {
        justify-content: center;
    }
    #second-menu {
        justify-content: center;
    }
    #adopt-info-block section>div div:last-child {
        order: -1;
    }
    #adopt-info-block section>div {
        flex-flow: column nowrap;
        align-items: center;
    }
    #adopt-info-block section>h2 {
        font-size: 48px;
    }
    #adopt-info-block section>div div:last-child nav>ul>li{
        list-style-position: inside;
    }
    #adopt-info-block section>div div:first-child img {
        max-width: 100%;
    }
    #footer-links {
        width: 100%;
    }
    #footer-logo {
        align-items: center;
        align-self: center;
    }
    #footer-links-block {
        flex-flow: column nowrap;
        gap: 40px;
    }
    #footer-contact {
        width: 100%;
    }
    #footer-contact>div:last-child {
        align-self: center;
        align-items: center;
    }
    #success-screen>div {
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .wrapper .carousel {
        grid-auto-columns: calc(100% / 1);
        gap: 0;
    }
    #adopt-screen .center-container {
        padding-top: 32px;
        padding-bottom: 32px;
    }
    #stats {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;
        gap: 40px;
    }
    #stats div{
        display: flex;
        flex-flow: column nowrap;
        gap: 0px;
        align-items: center;
    }
    #stats-block .center-container h2 {
        font-size: 48px;
    }
    #difference-title h2 {
        font-size: 48px;
    }
    #subscribe-form {
        flex-flow: column nowrap;
    }
}

@media screen and (max-width: 480px) {
    #difference-title div:last-child { 
        position: absolute;
        right: 15px;
    }
    #difference-title div:first-child { 
        position: absolute;
        left: 15px;
    }
    .hidden-img-mobile {
        margin-top: 140px;
    }
    #adopt-links a {
        padding: 16px 16px;
    }
    .break-word {
        display: flex;
    }
    .hidden-word {
        display: none;
    }
}