@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    padding: 0 12vw;
    font-size: 1.4em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

header a {
    text-decoration: none;
}

.center-container {
    padding: 1.6em 0;
    min-width: 320px;
}

main div.center-container {
    display: flex;
    border: 1px solid red;
    height: 80vh;
}

header nav.center-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

#second-menu {
    display: flex;
    align-items: center;
}

#second-menu>.donate-container {
    margin-left: 1.5em;
}

#principal-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#items-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#items-menu a{
    margin: 5px 15px 5px 15px;
    color: #000;
}

#phone-container {
    display: flex;
    justify-content: space-between;
    width: 8.5em;
}

#phone-container>img {
    height: 0.8em;
    width: 0.8em;
    align-self: center;
}

.donate-container>a {
    display: flex;
    align-items: center;
    color: #fff;
    background-color: #FF3D9A;
    border-radius: 60px;
    padding: 0.8em 1.4em;
}

.donate-container a img {
    height: 1em;
    width: 1.1em;
    margin-right: 0.50em;
}

#container-logotype-header {
    display: flex;
    align-items: center;
}

@media (max-width: 1145px) {
    header, main {
        padding: 0 5vw;
    }
}

@media (min-width: 580px) and (max-width: 970px) {
    header, main {
        font-size: 0.8em;
        padding: 0 5vw;
    }
    #items-menu a{
        margin: 5px 5px 5px 5px;
    }
}

@media (max-width: 580px) {
    header, main {
        font-size: 1.0em;
    }

    header nav.center-container {
        flex-direction: column;
    }

    #principal-menu {
        flex-direction: column;
    }

    #second-menu {
        align-self: center;
        justify-content: space-between;
        width: 100%;
    }

    #items-menu a{
        margin: 5px 15px 5px 15px;
    }

    #items-menu{
        width: 100%;
    }

    #container-logotype-header>img{
        height: 50px;
        width: 50px;
    }
}